@import "../../global.scss";

.nav {
  width: 100%;
  height: 100px;
  background-color: $lightGreyColor;
  margin-bottom: 30px;
  display: flex;
  padding: 15px 24px;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 4px solid $mainColor;
  font-size: 17px;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom {
      font-size: 20px;
      font-weight: 600;
    }
    .top {
      word-break: break-all;
    }
  }

  .left {
    align-items: flex-start;
    flex-basis: 20%;
  }
  .center {
    flex-basis: 60%;
    align-items: center;
    text-align: center;
    .word-guess {
      color: $mainColor;
      font-weight: 800;
    }
  }
  .right {
    align-items: flex-end;
    flex-basis: 20%;
  }
}
