$mainFont: "Mulish";

$mainColor: #20b2aa;
$additionalColor: #ff7f50;
$lightGreyColor: #f2f2f2;

$greyColor: #ededeb;
$darGreyColor: #2f3436;
$blueColor: #7eb0ea;
$yellowColor: #fdcf51;
$orangeColor: #ff9157;

$xs: 425px;

@mixin bigScreens {
  @media (min-width: #{$xs}) {
    @content;
  }
}
