@import "../../global.scss";

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  @include bigScreens {
    width: 50vw;
    margin: 30px auto 0px;
  }
  form {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &.hidden {
      visibility: hidden;
    }

    input {
      width: 200px;
      height: 30px;
      padding: 20px 17px;
      font-size: 17px;
      border-radius: 5px;
      border: 2px solid $mainColor;
    }
  }

  img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
}
